.header__hero {
    text-align: center;
    padding: clamp(1rem, 3vw, 1.5rem);
}


.title-header,
.subtitle-header,
.desc-header {
    color: #fff;
}


.title-header {
    font-size: 2rem;
}


.green-text {
    color:rgb(7, 217, 172); 
}


.nav-btns-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 6%;
}


.projects-btn {
    border-radius: 10px;
    padding: .25rem 1.3rem;
    color: rgb(10, 208, 165);
    background:rgba(6, 142, 113, 0.322);
    border: 1px solid rgb(6, 142, 113);
}


