.header__hero {
    text-align: center;
    padding: clamp(1rem, 3vw, 1.5rem);
}


.title-header,
.subtitle-header,
.desc-header {
    color: #fff;
}


.title-header {
    font-size: 2rem;
}


.green-text {
    color:rgb(7, 217, 172); 
}


